.cell {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.cellValue {
  width: 100%;

  &.center {
    text-align: center;
  }

  &.left {
    text-align: left;
  }

  &.right {
    text-align: right;
  }
}
