.textArea {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.label {
  position: absolute;
  left: 14px;
  top: 20px;
  transform: translateY(-50%);
  font-size: 14px;
  font-weight: 400;
  color: var(--color-text-secondary);
  background-color: transparent;
  padding: 0 4px;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  z-index: 1;
  opacity: 0.5;

  .required {
    color: var(--color-error);
    margin-left: 2px;
  }

  &.floating {
    top: 0;
    left: 10px;
    font-size: 12px;
    color: var(--color-primary);
    background-color: var(--surface-3);
    padding: 0 4px;
    opacity: 1;
  }
}

.textAreaContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--color-border);
  border-radius: calc(var(--shape-border-radius) - 8px);
  cursor: text;
  transition: border-color 0.2s;

  textarea {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    color: var(--color-text-primary);
    background-color: transparent;
    resize: none;
    padding: 12px 12px;

    &:disabled {
      cursor: not-allowed;
    }
  }

  textarea:placeholder-shown ~ .label {
    top: 24px;
    left: 14px;
    font-size: 14px;
    color: var(--color-text-secondary);
    background-color: transparent;
    opacity: 0.5;
  }

  textarea:not(:placeholder-shown) ~ .label,
  textarea:focus ~ .label {
    top: 0;
    left: 10px;
    font-size: 12px;
    color: var(--color-primary);
    background-color: var(--surface-3);
    padding: 0 4px;
    opacity: 1;
  }

  &:focus-within {
    border-color: var(--color-primary);
  }
}

.error {
  font-size: 12px;
  color: var(--color-error);
}

.textArea.error {
  .textAreaContainer {
    border-color: var(--color-error);
  }
}
