.popover {
  background-color: var(--surface-3);
  border: 1px solid var(--border);
  padding: 4px;

  svg {
    color: var(--text-primary);
  }
}

.popoverContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.actionContent {
  display: flex;
  justify-content: center;
}
