.popover {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  padding: 4px;

  svg {
    color: #000;
  }
}

.popoverContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.actionContent {
  display: flex;
  justify-content: center;
}
