.productCardContainer {
  position: relative;
}

.productCard {
  border: 2px solid var(--border);
  border-radius: var(--border-radius);
  padding: 8px;
  background: var(--surface-3);
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
  display: flex;
  gap: 8px;
  height: 100%;
  flex-direction: column;
  max-height: 290px;

  &:hover:not(.disabled) {
    border-color: var(--color-primary);
    box-shadow: var(--shadow-sm);
  }

  &.selected {
    border-color: var(--color-primary);
    background: var(--amber-pale);
    box-shadow: var(--shadow-md);
  }

  .productData {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
  }

  .productImage {
    position: relative;
  }

  .productImage,
  .productImagePlaceholder {
    width: 100%;
    height: 150px;
    aspect-ratio: 1/1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--surface-2);
    border-radius: var(--border-radius);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: var(--border-radius);
    }
  }
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
}

.productName {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-primary);
  margin: 0;
  line-height: 1.4;
  flex: 1;
  margin-right: 8px;
}

.checkbox {
  position: absolute;
  top: 12px;
  right: 12px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.materialInfo,
.priceInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.materialInfo {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: var(--color-primary);
  padding: 2px 8px;
  border-radius: 4px;

  span {
    color: var(--color-primary-text) !important;
    font-size: 11px;
    text-transform: uppercase;
  }
}

.materialLabel,
.priceLabel {
  font-size: 12px;
  color: var(--text-tertiary);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.materialName {
  font-size: 14px;
  color: var(--text-secondary);
  font-weight: 500;
}

.price {
  font-size: 16px;
  color: var(--color-success-border);
  font-weight: 700;
}

.stockCount {
  font-size: 13px;
  color: var(--text-tertiary);
  font-weight: 500;
}

.outOfStockButton {
  position: absolute;
  top: 4px;
  left: 4px;
}
